{% extends "base.html" %}

{% block title %}Lag ny bruker {% endblock %}

{% block active_create_user %}active{% endblock %}

{% block content %}
    {% if perms.auth.can_add_user %}
        <section class="row">
            <div class="col-md-4">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}<a class="close" data-dismiss="alert">×</a></div>
                {% endfor %}
            </div>
        </section>
        <section class="row">
            <div class="col-md-5">
                <h1>Legg til ny bruker</h1>
                {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors}}.</p>
                {% endif %}

                <form method="post" role="form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_first_name">{{ form.first_name.label }}</label>{{ form.first_name}}{{ form.first_name.errors }}
                        <label for="id_last_name">{{ form.last_name.label }}</label>{{ form.last_name}}{{ form.last_name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="id_email">{{ form.email.label }}</label>{{ form.email}}{{ form.email.errors }}
                    </div>
                    <input type="submit" value="Legg til" class="btn btn-primary btn-lg" />
                    <a href="{% url 'register' %}" class="btn btn-default">Tilbake</a>
                </form>
            </div>
        </section>
        {% endif %}
{% endblock %}
