<div class="form-login">
    {% if form.errors %}
    <p class="alert alert-danger">Brukernavn og passord stemmer ikke overens. Prøv igjen.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="">
        {% csrf_token %}
        <label for="id_username">Brukernavn:</label>
        {{ form.username }}
        <label for="id_password">Passord: </label>
        {{ form.password }}<br/>
        <input type="submit" value="Logg inn" class="btn btn-primary btn-lg"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
