.product {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 4px;
  transition: background-color 0.1s ease-out, border 0.1s ease-out;
}
.product:hover,
.active.product {
  border-color: var(--border);
}

.productText {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px;
  color: white;
  font-size: 1.5rem;
}

.productImage {
  width: 140px;
  height: 140px;
  border-radius: 4px;
  filter: opacity(0.2);
  object-fit: contain;
}
.active .productImage {
  filter: none;
}

.noProductImage {
  width: 140px;
  height: 140px;
}

.amount {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  padding: 4px;
  border-radius: 4px;
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.wrap {
  position: relative;
}
.active .amount {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
