.wireframe {
  position: absolute;
  bottom: calc(22% - 512px);
  left: calc(50% - 512px);
  width: 1024px;
  height: 1024px;
  display: grid;
  grid-template-columns: repeat(8, 128px);
  animation-iteration-count: infinite;
  animation-name: isometric-rotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  pointer-events: none;
  z-index: -1;
}

.cell {
  border-bottom: 2px solid var(--sun);
  border-right: 2px solid var(--sun);

}

.cell:nth-child(8n) {
  border-right: none;
}

.cell:nth-child(n+57) {
  border-bottom: none;
}

@keyframes isometric-rotate {
  0% {
    transform: rotateX(70deg) rotateY(0deg) rotateZ(-45deg);
  }
  100% {
    transform: rotateX(70deg) rotateY(0deg) rotateZ(-405deg);
  }
}