.userList {
  display: grid;
  height: 800px;
  padding-top: 2rem;
  grid-template-columns: repeat(5, 220px);
  overflow-y: auto;
  column-gap: 16px;
  row-gap: 24px;
}

.amountSection {
  margin-top: 32px;
}

.checkout {
  margin-top: 32px;
}
