.user {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  border-left: 4px solid transparent;
  background: rgb(35, 15, 41);
  border-radius: 4px;
  color: var(--text);
  transition: background-color 0.1s ease-out, border 0.1s ease-out;
  max-height: 82px;
}

.user:hover {
  cursor: pointer;
}
.user:hover,
.active.user {
  background-color: var(--background);
  box-shadow: 0 0 4px var(--background), 0 0 11px var(--background), 0 0 19px var(--background);
}
.active.user {
  border-left: 4px solid var(--sun)
}

.avatar {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.avatarWrap {
  filter: drop-shadow(0 0 4px var(--background)) drop-shadow(0 0 11px var(--background))
    drop-shadow(0 0 19px var(--background));
}

.noAvatar {
  margin-left: 1rem;
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  content: "";
}

.meta {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2rem;
  text-shadow: none;
}

.balance {
  color: var(--sun)
}