<!doctype html>
<html>
<head>
    <title>{%block title%}BBS{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    {%block headinc %}
    {%endblock%}
</head>
<body>
    <header id="header">
    {%block header%}
        {% include "nav.html" %}
    {%endblock%}
    </header>
    <div id="container" class="container">
        {%block content%}
        {%endblock%}
        <div id="footer" class="row">
            <div class="col-md-12 text-right">
                {%block footer %}
                    <br />
                    <img src="{{ STATIC_URL }}img/edb_brick.png" alt="EDB" />
                {%endblock%}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/dropdown.js"></script>
    {%block tailinc %}
    {%endblock%}
</body>
</html>
