<!doctype html>
{% load compress %}
<html>
<head>
    <title>{%block title%}BBS{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-django-static-url" content="{{ STATIC_URL }}">
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css" type="text/css" media="screen, projection">
    {% endcompress %}
    {%block headinc %}{%endblock%}
</head>
<body>
    <header id="header">
    {%block header%}
        {% include "nav.html" %}
    {%endblock%}
    </header>
    <div id="container" class="container">
        {%block content%}
        {%endblock%}
        <div id="footer" class="row">
            <div class="col-md-12">
                {%block footer %}
                <div class="credits">
                    Laget med <span class="love" title="kærlighed">♥</span> av <a href="http://edb.neuf.no/">EDB-gjengen i KAK</a><br/>
                     <a href="http://edb.neuf.no/"><img src="{{ STATIC_URL }}img/edb_brick.png" alt="EDB" /></a>
                </div>
                {%endblock%}
            </div>
        </div>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.nb.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    {% endcompress %}
    {%block tailinc %}{%endblock%}
</body>
</html>
