{% extends "base.html" %}
{% block header %}
        {% include "nav.html" with active="log" %}
{% endblock %}

{% block content %}
<section id="log" class="row">
    {% if messages %}
    <section class="row">
        <div class="col-xs-4">
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}<a class="close" data-dismiss="alert">×</a></div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <section id="orders">
                {% if not limit %}
                    <h2 title="Alle registrerte ordre">Alle ordre</h2><br />
                    <a href="{% url log %}">Vis kun siste</a>
                {% else %}
                    <h2 title="Ordre fra de siste 2 dagene eller de 5 siste ordrene.">Siste ordre</h2><br />
                    <a href="{% url log-all %}">Vis alle</a>
                {%endif %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Når</th>
                        <th>Hvem</th>
                        <th>Hva</th>
                        <th>Sum</th>
                        <!--<th>Handling</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.created }}</td>
                        <td>{% if order.customer.get_profile.image %}<img src="{{ order.customer.get_profile.image }}" class="customer" title="{{ order.customer.first_name }} {{ order.customer.last_name|slice:":1"}}" />{% else %}{{ order.customer.first_name }} {{ order.customer.last_name|slice:":1"}}{% endif %}</td>
                        <td>{% for line in order.orderline_set.all %}
                            <span class="amount">{{ line.amount}}</span> <a href="#" class="product" title="{{ line.unit_price}} per">{{ line.product }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ order.order_sum }}</td>
                        <!--<td><{% include "modal-delete-order.html" with order=order %}<a class="btn btn-danger" data-toggle="modal" href="#modal-order-{{order.id}}"><i class="icon-trash icon-white"></i> Slett</a></td>-->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="col-md-6">
            <section id="transactions">
                {% if not limit %}
                    <h2 title="Alle registrerte transaksjoner">Alle transaksjoner</h2>
                    <br /><a href="{% url log %}#transactions">Vis kun siste</a>
                {% else %}
                    <h2 title="Transaksjoner fra de siste 2 dagene eller de 5 siste transaksjonene.">Siste transaksjoner</h2><br />
                    <a href="{% url log-all %}#transactions">Vis alle</a>
                {%endif %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Når</th>
                        <th>Hvem</th>
                        <th>Innskudd</th>
                        <!--<th>Handling</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in transactions %}
                    <tr>
                        <td>{{ t.created }}</td>
                        <td>{% if t.user.get_profile.image %}<img src="{{ t.user.get_profile.image }}" class="customer" title="{{ t.user.first_name }} {{ t.user.last_name|slice:":1"}}" />{% else %}{{ t.user.first_name }} {{ t.user.last_name|slice:":1"}}{% endif %}</td>
                        <td>{{ t.amount }}</td>
                        <!--<td>{% include "modal-delete-transaction.html" with t=t %}<a class="btn btn-danger" data-toggle="modal" href="#modal-trans-{{t.id}}"><i class="icon-trash icon-white"></i> Slett</a></td>-->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</section>
{% endblock %}
