{% extends "base.html" %}
{% block header %}
    <h1>Biceps Bar System</h1>
	<nav>
	<ul>
		<li><a href="{% url main.views.logout %}">Logout</a></li>
	</ul>
	</nav>
{% endblock %}

{% block content %}
<section id="register">
<form id="order" method="post">
{% csrf_token %}
<section id="customer">
<h2>Velg kunde</h2>
<input type="hidden" name="customer" value="" />
<ul>
{% for user in users %}
	<li class="customer">
	{% if user.get_profile.image %}
	    <img class="profile" src="{{ user.get_profile.image.url }}" /><br />
	{% else %}
	    <img class="profile" src="/static/gaute/images/unknown.png" /><br />
	{% endif %}
	<span class="name">{{ user }}</span> ({{ user.get_profile.balance }})</li>
{% endfor %}
</ul>
</section>
<section id="products">
<h2>Velg antall</h2>
<ul>
{% for product in products %}
	<li id="form-{{forloop.counter0}}" class="product"><input type="hidden" name="form-{{ forloop.counter0 }}-product" value="{{product.id }}" />
	<input type="text" id="form-{{ forloop.counter0 }}-amount" name="form-{{ forloop.counter0 }}-amount" value="0" size="2" />
	{% if product.image %}
		<img class="product" src="{{ product.image.url }}" /><br />
	{% else %}
		<img class="product" src="/static/gaute/images/product.png" /><br />
	{% endif %}
	{{ product.name }}
	</li>
{% endfor %}
</ul>
</section>
<section id="total"><h3>Totalt</h3><span class="total_text"></span></section>
    <input type="reset" id="reset" value="Start på nytt" />
    <input type="submit" id="submit_order" name="submit_order" value="Kjøp" />
</form>
</section>
{% endblock %}
